<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Flask File Uploads Tutorial</h1> 
  
  <form method='POST' enctype='multipart/form-data'>
    {{form.hidden_tag()}}
    {{form.file()}}
    {{form.submit()}}
    
  </form>

  <hr>

  <h1>Ask AI</h1>
  
  <form method='POST' enctype='multipart/form-data'>
    <input type='text' name='ask_ai_query'>
    <input type='submit' value='Ask'>
  </form>

  {% if response %}
    <p>{{ response }}</p>
  {% endif %}

</body>
</html>
