{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %} 

  <h1>TurboGPT</h1>
  <h3>Upload your text files and ask AI any question you want!</h3>
  


  <form method='POST' enctype='multipart/form-data'>
    {{form.hidden_tag()}}
    {{form.file()}}
    {{form.submit()}} 
  </form>

  <hr>

  {% if previous_queries %}
    <h2>History</h2>
    {% for query, ai_response in previous_queries %}
      <div>
        <i class="fas fa-user"></i>
        <h3>{{ query }}</h3>
        <i class="fas fa-robot"></i>
        <p>{{ ai_response }}</p>
      </div>
    {% endfor %}
  {% endif %}


  {% if query and ai_response %}
    <i class="fas fa-user"></i>
    <h3>{{ query }}</h3>
    <i class="fas fa-robot"></i>
    <p>{{ ai_response }}</p>
  {% endif %}


  <hr>
  
  <form method='POST' enctype='multipart/form-data'>
    <input type='text' name='ask_ai_query'>
    <input type='submit' value='Ask'>
  </form>

{% endblock %}
